<div class="container">
    <h1 class="text-center">Product Selected</h1>

    <article class="row airport">
      <strong>Name</strong>
      <p> <%= @product.name %> </p>
      <strong>Laboratory</strong>
      <p><%= @product.laboratory_id %></p>
      <a class="btn btn-danger" href="<%= product_path(@product.id) %>" data-method="delete"> Delete </a>
      <a class="btn btn-info" href="<%= edit_product_path(@product.id)%>"> Edit</a>
      <a class="btn btn-default" href="<%= products_path %>" > View all products </a>
    </article>

</div>
