<% form_name ||= "Manage" %>
<h1 class="text-center"> <%= form_name %> stock </h1>

  <% if @stock.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@stock.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @stock.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<div class="container">
  <%= form_for @stock do |s| %>

  <!--User-->
  <div class="form-group">
    <%= s.label :user %><br>
    <select name="stock[user_id]" class="selectpicker">
      <%= @users.each do |u|  %>
          <option value="<%= u.id %>"> <%= u.email %> </option>
      <% end  %>
    </select>
  </div>

    <div class="row">
      <!--Quantity-->
      <div class="col-sm-4 form-group">
        <%= s.label :quantity %>
        <%= s.number_field :quantity, class: "form-control" %>
      </div>
      <!--Product-->
      <div class="col-sm-4 form-group">
        <%= s.label :producto %><br>
        <select name="stock[product_id]" class="selectpicker">
          <%= @products.each do |pr|  %>
              <option value="<%= pr.id %>"> <%= pr.name %> </option>
          <% end  %>
        </select>
      </div>

    <!--Due Date-->
    <div class="col-sm-4 form-group">
      <%= s.label :due_date %>
      <%= s.date_field :due_date, class: "form-control" %>
    </div>
    </div>
    <%= s.submit "#{form_name} stock", class:"btn btn-primary" %>
    <a class="btn btn-default" href="<%= stocks_path %>" > View all stocks </a>
  <% end %>
</div>
