<div class="container">
  <h1 class="text-center"> Stocks </h1>
  <% @stocks.each do |s| %>
    <article class="row stock">
        <ul class="list-unstyled">
          <li class="col-md-1"><strong>Product</strong></li>
          <li class="col-md-1"><%= s.product.name %></li>
          <li class="col-md-1"><strong>User</strong></li>
          <li class="col-md-2"><%= s.user.email %></li>
          <li class="col-md-1"><strong>Quantity</strong></li>
          <li class="col-md-1"><%= s.quantity %></li>
          <li class="col-md-1"><strong>Due Date</strong></li>
          <li class="col-md-2"><%= s.due_date %></li>
          <li class="col-md-1"><a href="<%= stock_path(s.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></li>
          <li class="col-md-1"> <a href="<%= edit_stock_path(s.id)%>" class="btn btn-success"> Edit</a> </li>
          <li class="col-md-1"> <a href="<%= stock_path(s.id)%>" class="btn btn-info">View</a></li>
        </ul>
  </article>
  <% end if @stocks.any?%>
</div>
