<div class="container">
    <h1 class="text-center">Product Stock</h1>

    <article class="row stock">
      <strong>Product</strong>
      <p> <%= @stock.product.name %> </p>
      <strong>Quantity</strong>
      <p> <%= @stock.quantity %> </p>
      <strong>User</strong>
      <p> <%= @stock.user.email  %> </p>
      <strong>Due Date</strong>
      <p> <%= @stock.due_date  %> </p>
      <a class="btn btn-danger" href="<%= stock_path(@stock.id) %>" data-method="delete"> Delete </a>
      <a class="btn btn-info" href="<%= edit_stock_path(@stock.id)%>"> Edit</a>
      <a class="btn btn-default" href="<%= stocks_path %>" > View all stocks </a>
    </article>

</div>
